*{  box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background: #f4f6f8;
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 6px;
    font-weight: bold;
}

input,
select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.full-width {
    grid-column: 1 / 3;
}

button {
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

thead {
    background: #007bff;
    color: white;
}

th,
td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

.action-btn {
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.delete-btn {
    background: #dc3545;
}

@media (max-width: 768px) {
    form {
        grid-template-columns: 1fr;
    }

    .full-width {
        grid-column: 1 / 2;
    }
}

button {
    padding: 12px 20px;
    width: 200px;
    height: auto;
}
.full-width {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}
.full-width{
    pointer-events: auto;
}